* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 10px;
}

.gridContainer {
    border: 6px solid black;
}


#gridContainer {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    width: 940px;
    height: 940px;
}

#divSquare > .divSquare:nth-child(16n + 1) {
    width: 100%;
}

.rowGrid {
    display: flex;

}

.divSquare {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: white;

}
